.table-container {
  max-width: 800px;
  margin: 0 auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
  color: #013b7a;
}

.table tbody tr:hover {
  background-color: #f9f9f9;
}

.profile-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
}

.profile-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #555;
}
